.search-container {
  height: 270px;
  width: 1250px;
  margin: 55px 50px;
  background: #E6F7FF;
  border-radius: 16px;
}

.search-text {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 38px;
  line-height: 46px;
  color: #262626;
  padding: 65px 95px 15px;
}

.search-input {
  background: #FFF;
  border: 1px solid #D9D9D9;
  box-sizing: border-box;
  border-radius: 4px;
  width: 675px;
  height: 40px;
  padding: 8px 17px;
  margin-left: 95px;
  margin-bottom: 25px;
}

.btn-search-container {
  margin-left: 95px;
}

.info-container {
  height: 480px;
  width: 1250px;
  margin: 55px 50px;
  background: #F5F5F5;
  border-radius: 8px;
  display: flex;
}

.image-loader-container {
  padding-top: 24px;
  padding-left: 30px;
  padding-bottom: 48px;
}

.info-loader-container {
  padding-top: 48px;
  margin-left: -60px;
}